######################
# Node
######################
/node/**
/node_modules/**

######################
# npm
######################
npm-debug.log

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# config
######################
.env
